<nav class="navbar sticky-top navbar-expand-md navbar-light nav-container" id>
    <a href="#" class="navbar-brand"><b> Dananz </b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
        aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggleMobileMenu">

        <ul class="navbar-nav navbar-link text-center">
            <li>
                <a class="nav-link" id="link">Home</a>
            </li>
            <li>
                <a class="nav-link" id="link" routerLin kActive="active">About Us</a>
            </li>
            <li>
                <a class="nav-link" id="link">Services</a>
            </li>
            <li>
                <a class="nav-link" id="link">Our Teams</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li>
                <button class="nav-link btn btn-primary" id="contact-us">Contact Us</button>
            </li>
        </ul>
    </div>
</nav>

<h1> <b> Minimalist Room </b></h1>
<div class="text">
    <span> <strong> It is a long established fact that a reader will be </strong></span> <br />
    <span><strong> distracted by readable content of a page when</strong> </span>
    <p> <strong>looking at its layout</strong> </p>
</div>

<div>
    <img src="https://img.freepik.com/free-photo/living-room-loft-industrial-style-with-blue-sofa-empty-concrete-wall-3d-rendering_41470-3581.jpg?w=2000"
        alt="Nature" class="responsive" width="600" height="400">
</div>

<div>
    <div class="row first">
        <div class="col-lg-6 col-md-8 col-sm-12 desc">
            <h2><strong> Project Overview </strong></h2>
            <p>
                Online learning with us does not interfere with your daily life. because learning can be done anytime
                and anywhere. Online learning with us does not interfere with your daily life.
                because learning can be done anytime and anywhere.Online learning with us does not interfere with your
                daily life.
                because learning can be done anytime and anywhere.
            </p>

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 desc">
                    July 22 - 2022
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12 desc">
                    Interior Design - Furniture
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12 desc">
            <h2><strong> Design Process </strong></h2>
            <p>
                Online learning with us does not interfere with your daily life. because learning can be done anytime
                and anywhere.
                Online learning with us does not interfere with your daily life. because learning can be done anytime
                and anywhere.
            </p>

            <p>
                Online learning with us does not interfere with your daily life. because learning can be done anytime
                and anywhere.
                Online learning with us does not interfere with your daily life. because learning can be done anytime
                and anywhere.
            </p>
        </div>
    </div>
</div>

<div class="wrapper">
    <img src="https://img.freepik.com/free-photo/living-room-loft-industrial-style-with-blue-sofa-empty-concrete-wall-3d-rendering_41470-3581.jpg?w=2000"
        class="img-responsive" alt="man1">
    <img src="https://img.freepik.com/free-photo/living-room-loft-industrial-style-with-blue-sofa-empty-concrete-wall-3d-rendering_41470-3581.jpg?w=2000"
        class="img-responsive" alt="man2">
</div>

<div>
    <img src="https://img.freepik.com/free-photo/living-room-loft-industrial-style-with-blue-sofa-empty-concrete-wall-3d-rendering_41470-3581.jpg?w=2000"
        alt="Nature" class="responsive" width="600" height="400">
</div>

<div class="wrapper">
    <img src="https://img.freepik.com/free-photo/living-room-loft-industrial-style-with-blue-sofa-empty-concrete-wall-3d-rendering_41470-3581.jpg?w=2000"
        class="img-responsive" alt="man1">
    <img src="https://img.freepik.com/free-photo/living-room-loft-industrial-style-with-blue-sofa-empty-concrete-wall-3d-rendering_41470-3581.jpg?w=2000"
        class="img-responsive" alt="man2">
</div>

<div class="card">
    <div class="card-left">
        <p> let's discuss making your interior </p>
        <p>Like a dream place!</p>
    </div>
    <div class="card-right">
        <span> Contact us below to work together to build your </span> <br />
        <p>amazing interior</p>
        <button class="contact-us" mat-raised-button> Contact Us </button>
    </div>
</div>

<footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="">
                    <strong>
                        <h2> Dananz </h2>
                        <span> One of the best furniture </span>
                        <p> agency </p>
                    </strong>
                </div>
            </div>

            <div class="col-lg-6">
                <h6 class="footer-heading">Enter your Email to get the latest news</h6>
                <input matInput type="email" placeholder="Email Address">
                <button><i class="fab fa-telegram-plane"></i></button> <br />
                <span class="follow">Follow us On</span>
                <div>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fab fa-facebook-f facebook footer-social-icon "></i></li>
                        <li class="list-inline-item"><i class="fab fa-instagram instagram footer-social-icon "></i></li>
                        <li class="list-inline-item"><i class="fab fa-music music footer-social-icon"></i></li>
                        <li class="list-inline-item"><i class="fab fa-youtube youtube footer-social-icon"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>